<div class="index-header">
  <div class= "container">
    <div class = "row">
      <div class = "col-md-12">

        <h2 class = 'text-center show-title'> <strong>Species Details</strong> </h2>
        
        <div class='row'>
          <div class='col-md-offset-2 col-md-8'>
            <div class="panel panel-default">
              
              <div class="panel-heading text-center"><h4> Species Name: <small><%= @fossil.species_name %></small> </h4></div>
              <div class="panel-body text-center">
                <div class='a-well'>
                  <h5> Age Range: <small><%= @fossil.age_range %> </small> </h5>
                  <h5> Author: <small><%= @fossil.author %> </small> </h5>                
                  <div class = 'avatar-container'>
                    <%= image_tag @fossil.avatar.url(:medium), class: 'img-responsive center-block avatar-element' %>
                  </div>
                  <h5> Kingdom: <small><%= @fossil.kingdom.kingdom_name %> </small> </h5>
                  <h5> Phylum: <small><%= @fossil.phylum.phylum_name %></small> </h5>
                  <h5> Class: <small><%= @fossil.fossil_class.class_name %></small> </h5>
                  <h5> Order: <small><%= @fossil.order.order_name %></small> </h5>
                  <h5> Family: <small><%= @fossil.family.family_name %></small> </h5>
                  <h5> Genus: <small><%= @fossil.genera.genus_name %></small> </h5>
                </div>
              </div> <!-- panel-body end -->
            </div> <!-- panel end -->
          </div> <!-- col end -->  
        </div> <!-- row -->
        
        
        <div class="panel panel-default">
          <div class="panel-heading"><h4 class='text-center'> Remarks </h4></div>
          <div class="panel-body">
            <div class='a-well'>
              <%= simple_format(@fossil.remarks) %>
              <%= simple_format(@fossil.env_int) %>
            </div>
          </div> <!-- panel-body end-->
        </div> <!-- panel end -->
        
        
        

      </div> <!-- col end -->
    </div><!-- row end -->
  </div><!-- container end -->
</div><!-- page content div end -->