<div class="index-header">
  <div class= "container-fluid">
    <div class = "row">
      <div class = "col-md-12">
        
        <h2 class= 'text-center'> Main Navigation Hub</h2>
          
          <div class= "kingdom-section">
            <h3 class= 'text-center'> Kingdom: Animalia </h3>
              
            <% @phylums.each do |x| %>
            <!-- If the phylum records have the dynamic id of Animalia...-->
              <% if x.kingdom_id == @animalia.id %>
                <!--Link to a show page where all the species share the same phylum_id -->
                <%= link_to directory_path(x.id) do %>
                  <h4><%= x.phylum_name %></h4>
                <% end %>  
                <ul  style="list-style: none;">
                  <% @classes.each do |z| %>
                  <!-- Here, we do the same as above except we attach a dynamic query string-->
                  <!-- to filter the classes in the show view file... -->
                    <%= link_to directory_path(x.id, class_var: "#{z.class_name}") do %>
                      <% if z.phylum_id == x.id %>
                        <li> <h5><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                         <%= z.class_name %> </h5> </li>
                      <% end %>
                    <% end %>  
                  <% end %>
                </ul>
                
              <% end %>
            <% end %> <!-- end for each loop -->
          </div> <!--kingdom-section end -->
          
          
          <div class= "kingdom-section">
          
            <h3> Kingdom: Protozoa </h3>
            
            <% @phylums.each do |x| %>
            <!-- If the phylum records have the dynamic id of Protozoa...-->
              <% if x.kingdom_id == @protozoa.id %>
                <%= link_to directory_path(x.id) do %>
                  <h4><%= x.phylum_name %></h4>
                <% end %>  
                
                <ul  style="list-style: none;">
                  <% @classes.each do |z| %>
                  <!-- Here, we do the same as above except we attach a dynamic query string-->
                  <!-- to filter the classes in the show view file... -->              
                    <%= link_to directory_path(x.id, class_var: "#{z.class_name}") do %>
                      <% if z.phylum_id == x.id %>
                        <li> <h5><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                        <%= z.class_name %> </h5> </li>
                      <% end %>  
                    <% end %>
                  <% end %>
                </ul>
                
              <% end %>
            <% end %>     <!-- end for each loop--> 
          </div> <!-- kingdom-section end -->

      </div> <!-- col end -->
    </div>
  </div>
</div>