<div class="index-header">
  <div class= "container">
    <div class = "row">
      <div class = "col-md-12">
        
        <div class = 'home-content'> 
          <div class='row home-row'>
            <div class= 'col-md-3'>
              <h1 class= 'text-center home-title'><strong>Marine Species Fossil Database</strong> </h1>
            </div>
          </div>
          
          <div class='subtitle-row row'>
            <div class='col-md-7'>  
              <p class = 'home-subtitle'>Click the [<span class='glyphicon glyphicon-menu-hamburger'></span>] icon to open the navigation bar!</p>
              <p class='home-subtitle'> Press it again to close the navigation bar! </p>
            </div>
          </div>
          
          <div class='row'>
            <div class = 'col-md-offset-0 col-md-7'>
              <div class= 'home-buttons'>
                <div class='home-btns'><%= button_to "General Information", general_information_path, :method => 'get', class: 'btn btn-primary' %></div>
                <div class='home-btns'><%= button_to "Taxonomy Overview", taxonomy_overview_path, :method => 'get', class: 'btn btn-primary' %></div>
                <div class='home-btns'><%= button_to "Main Directory", directory_index_path, :method => 'get', class: 'btn btn-primary' %></div>
                <div class='home-btns'><%= button_to "All Species", species_index_path, :method => 'get', class: 'btn btn-primary' %></div>
                <div class='home-btns'><%= button_to "About", about_path, :method => 'get', class: 'btn btn-primary' %></div>
              </div>
            </div>
          </div>
        </div> <!-- home-content end-->
        
      </div>
    </div>
  </div>
</div>