<div class="container info-container">
	<div class="row">
    <div class="col-md-12">
      
      <h2 class= 'show-title text-center'> <strong> Taxonomy overview </strong></h2>
      
      
      <div id="info-sidenav">	
        <ul  class="nav nav-tabs">
    			<li class="active">
            <a  href="#1a" data-toggle="tab">Overview</a>
    			</li>
    			<li><a href="#2a" data-toggle="tab">Bivalvia</a>
    			</li>
    			<li><a href="#3a" data-toggle="tab">Brachiopoda</a>
    			</li>
      		<li><a href="#4a" data-toggle="tab">Cephalopoda</a>
    			</li>
      		<li><a href="#5a" data-toggle="tab">Echinodermata</a>
    			</li>
      		<li><a href="#6a" data-toggle="tab">Foraminifera</a>
    			</li>
      		<li><a href="#7a" data-toggle="tab">Gastropoda</a>
    			</li>  
      		<li><a href="#8a" data-toggle="tab">Trilobita</a>
    			</li>   
      		<li><a href="#9a" data-toggle="tab">References</a>
    			</li>     			
    		</ul>
  
  			<div class="tab-content clearfix" id ='info-body'>
  			  <div class="tab-pane active" id="1a">
			      <div class='a-well'>
		           <h2><strong>Taxonomy Overview</strong></h2>
		           <%= image_tag('taxonomy-tree.svg', class: 'img-responsive center-block', id: 'taxonomy-tree') %>
		           <p class = 'text-center'> <i>Taxonomic rank illustration.  By Peter Halasz. </i></p>
		           </br>
		           <p> Taxonomy is the subject that defines the natural morphological and behavioral boundaries between organisms, providing a system for classifying and comparing them.  The taxonomic system is hierarchical, where similar organisms are classified together into a group (taxa) and assigned a taxonomic rank.  This system effectively provides a way of illustrating similarity and ancestry.</p>
		           </br>
		           <p> The largest subdivisions of the taxonomic system are the kingdoms and the phyla.  These ranks are further divided into smaller subdivisions (ie: class, order, family...) that are more specific in its classification of traits and features.  The taxonomic system is therefore organized in such a way that it may be represented as a branching tree; wherein the kingdoms and phyla represents the stem and the smaller subdivisions (genus, species) represent the branches. </p>
		           </br>
		           <h4><strong> What is a species? </strong> </h4>
		           <p>In biology, the term species refers to the morphological, behavioral and genetic differences between organisms.  “A group of individuals that look alike and are able to successfully interbreed” would be a modern definition of a biological species.</p>
		           </br>
		           <p>In paleontology, the identification of a fossil's biological species plays an important role in the interpretation of ancient environments. However, it's impossible to determine whether a group of fossils is able to interbreed.  As such, paleontologists have to rely heavily in the morphological characteristics of the fossil to differentiate between unique species.  This makes the recognition of new species reliant on rigorous methods to identify with accuracy differences and similarities of shape and form.</p>
		           </br>
		           <p> The following are some of the methods used to determine species in paleontology: </p>
		           <ul>
		             <li><p>Morphological resemblance: A method reliant on visual observation and simple measurement.  While the human eye is a powerful tool in distinguishing small differences in shape, this method is susceptible to the observer's subjectivity. </p> </li>
		             <li><p> Biometry: Biometry is a statistical method that makes use of sets of detailed character measurements to determine similarities and differences.  By comparing the measured set of characters to one or multiple different characters, a numerical signature is generated.  This method allows scientists to provide a more mathematically exact description based on the mean and range of each character's variation.  Sometimes however, certain characters may not be able to be adequately measured which may result in important characteristics being left out of the analysis.</p></li>
		             <li><p> Shape analysis: Shape analysis builds upon the previous two methods by utilizing detailed measurements and relying on computer programs to compare the three-dimensional shape of the study's subject.</p></li>
		           </ul>
		           </br>
		           <h4><strong> Uniformitarianism and fossil interpretation </strong></h4>
		           <p>Uniformitarianism is a fundamental geological principle which can be summarized using the phrase “the present is the key to the past”.  In geology, this principle allows scientists to interpret bodies of rock as the product of an ancient environment.   By comparing the products of present-day environments with those of the past, scientists can make assumptions in regards to the environmental conditions which created the rock body being studied.  </p>
		           </br>
		           <p>Taxonomic  uniformitarism uses the same principle.   It assumes that fossils remains that resemble present-day organisms function in a similar manner and lived in similar conditions. This provides scientists with a mechanism for comparing the anatomy and individual body parts of fossil and living organisms.</p>
		           </br>
		           <p>Taxonomic uniformitarianism has three important functions. </p>
		           <ul>
		             <li><p>It provides a mechanism for the interpretation of functional morphology through comparison with similar or comparable (homologous) body parts in living organisms.</p></li>
		             <li><p>It allows for the interpretation of fossil assemblages as ancient ecologies (palaeoecology). </p></li>
		             <li><p>It is the basis for the broad-scale interpretation of ancient environments (palaeoenvironmental analysis). </p></li>
		           </ul>
		           </br>
		           <p>It's important to note that evolution and geological time limits the accuracy of the uniformitarian approach.  The chances that there exists an organism in the present-day that resembles the subject of study decreases as the age of the fossil increases.  Another possibility is that certain organisms may have subtly evolved and changed their environmental preferences through geological time without significant morphological change.</p>
		         
		         
		         
		         
		         </div>
  				</div>
  				<div class="tab-pane" id="2a">
			      <div class='a-well'>
              <h2><strong>Bivalvia</strong></h2>
              </br>
              <p>The Bivalvia lived from the Lower Cambrian period and still exist today.  As an ancient group of organisms, the fact that they inhabited a wide variety of environments as they evolved and are one of the most diverse groups of organisms on the planet makes their existence as fossils invaluable as age, ecological and climate indicators. </p>
              </br>
              <h4> <strong>Morphology overview</strong></h4>
              </br>
              <%= image_tag('bivalvia-parts-1.jpg', class: 'img-responsive center-block info-imgs')%>
	            <p class = 'text-center'> <i>Bivalve shell morphology. (Moore, R.C., et al) </i></p>
              </br>
              <%= image_tag('bivalvia-parts-2.jpg', class: 'img-responsive center-block info-imgs')%>
	            <p class = 'text-center'> <i>Transverse section of a bivalve shell. (Moore, R.C., et al) </i></p>
              </br>
              <p>The Bivalvia are aquatic mollusks which are fundamentally bilaterally symmetrical and laterally compressed, very commonly being elongated in an anteroposterior direction.  The posses a shell consisting of two wholly or partly calcified valves lying on left and the right sides of their body.  The shell is external except in a few forms, and typically, the two valves are of equal convexity although in some forms the bilateral symmetry has been lost as a result of cementation of one valve to the substrate.  Furthermore, the valves differ in size to a varying extent and are generally connected dorsally by a partially calcified ligament which opens and close by hinging along an axis which passes through or close to the ligament.  The two valves open along their anterior, posterior and ventral margins, but it opens more widely along the ventral margins.  Adductor muscles are responsible for closing the valves; they are two or one in number and are attached to the inner face of each.  These muscles oppose the action of the ligament and acts as a spring tending to open them. </p>
              </br>
              <p> The mantle of the Bivalvia consists of two lobes, one lining each valve.  These lobes are dorsally joined, but their edges on other areas are either completely free or joined partly.  The body of the mollusk normally occupies a dorsal position within the shell and the mantle, and that body is fused to the mantle.  This organism lacks a head, radula and jaws and cephalic sensory organs that other mollusks posses.  These organs are replaced by organs with similar functions located along the mantle.  The mouth and anus are usually opposite ends of the body.  The mouth lies between two pair of flap like structures known as labial pals.  A foot is present in most Bivalvia which is an extension structure that commonly serves for burrowing.  Most forms have a pair of gills or ctenidia suspended within the mantle cavity from the body.</p>
              </br>
              <h4><strong> Environment</strong> </h4>
              <p>The Bivalvia are aquatic animals, as such, no members of the class can respire, feed or remain active outside of an aqueous medium.   Bivalvia are well suited for burrowing in sandy or muddy subtrates.  Many organisms ascend to the sea floor to feed and withdraw to a greater depth when done as the bottom is uncovered between tides.  Many shallow burrowers emerge to the surface of the sea floor and migrate laterally while some of the deeper burrowers lead a sedentary life.  While a great number of Bivalvia are burrowers in unconsolidated sediment, others have become borers in solid rock.  Some Bivalves maintain their position on the sea floor by the shape of their shell, others however live on rocky or coarse bottoms and are able to attach themselves to stationary objects by using their byssus or by cementation of one of the valves of the shell. </p>
              </br>
              <p>Bivalves are most abundant in the sublitoral zone although some forms have been dredged from very deep sea floors.  From purely marine environments, bivalves tend to move towards the less saline waters of land locked seas.  Some marine forms are tolerant of brackish water conditions and there are some that exists only in such conditions.  The Bivalves confined to fresh water include the Unionacea and the etheriidae. </p>
            </div>
  				</div>
          <div class="tab-pane" id="3a">
			      <div class='a-well'>
              <h2><strong>Brachiopoda</strong></h2>
              </br>
              <p>The Brachiopods lived from the Middle Ordovician to the Upper Cretaceous.  The species of this group represent the first organisms to encase themselves in hard shells and they dominated the Paleozoic era.  Their high abundance and hard shells allowed brachiopod fossils to be common in the present-day.</p>
              </br>
              <h4> <strong>Morphology overview</strong></h4>
              </br>
              <%= image_tag('brachiopoda-1.jpg', class: 'img-responsive center-block info-imgs')%>
	            <p class = 'text-center'> <i>Main orgains of the Brachiopoda. (Moore, R.C., et al) </i></p>
              </br>              
              <p> The Brachiopods are solitary marine animals commonly found anchored to the substratum by a pedicle.  The soft parts of the organism are protected by a pair of valves of variable composition that covers the ventral and dorsal surfaces.  The shell projects forward to enclose a cavity where the feeding organ (lophophore) is located.  While the body is regionated, there is no evidence of cephalization and the principal nerve center is located  below the esophagus.  The valves may be attached to the substratum by the pedicle, which normally emerges from the pedicle valve.  The brachial valve and the pedicle valve constitute the shell, although the brachial valve tends to be smaller. The body occupies the posterior part of the space inside the shell and the body wall is folded as a pair of mantles lining the inner surfaces to enclose the mantle cavity.  The coelomic cavity accommodates the digestive, excretory and reproductive organs.  It also accommodates the muscle system responsible for the movement of the valves relative to each other. </p>              
              </br>
              <p>The mantle cavity is separated from the body by the anterior body wall that contains the feeding organs (lophophore). The shells of articulated brachiopods are composed of calcium carbonate while the shells of inarticulate valves are composed of calcium phosphate.  The body wall consists of an outer layer of ectodermal epithelium resting on a thin layer of connective tissue and lined internally by a peritoneum.  It also possesses a pedicle epithelium which secretes a cuticular cover over the pedicle.  The outer epithelium secretes the shell and the inner epithelium forms the inner surfaces of the mantle lobes and the body wall.  The lobes are separated by a mantle groove from which the setae (chief tactile organ of the brachiopod) protudes. </p>
              </br>
              <h4><strong> Environment</strong> </h4>
              <p>Living brachiopods are rare and insignificant to the faunas of the present day, as such; their study has been neglected by zoologists.  That is why the information for this species ecology is fragmentary and comes from scattered sources.  Still, what is known is that almost all living brachiopods are benthonic, epifaunal, sessile suspension feeders.  This mode of life is characteristic of the phylum, although a few brachiopods have modified it in one way or another.  However, there are no known species that have truly invaded nonmarine habitats. </p>              
              </br>
              <p>As brachiopods are benthonic organisms, their relation to the substratum is very important.  All living brachiopods are attached to the substratum by a pedicle, although there are some that do so by cementation of their ventral valve.  Unlike bivalves, there has been no evidence that dictates that any brachiopod can change its position of attachment after their larval stage or that if uprooted it can re-establish itself elsewhere.  Present brachiopods seem to prefer attaching themselves to hard material, as such, many species are most abundant on bottom environments such as boulders, stony gravel, coarse shell gravel or coral debris.  On finer sediments, brachiopods are restricted to sites of attachments although presently, there are a few living brachiopods that attach themselves to soft materials such as algal stems.  This organic material however, would not normally be preserved in the fossil state, thus the brachiopod shells might be buried in soft muddy sediment without any trace of the original material after death.  This is possibly what accounts for the abundance of brachiopods in fine grained sediments.  Another explanation for the abundance of brachiopods in fine sediments might be the ability that the pedicles of many brachiopods may have adapted to anchor themselves into the soft sediment itself. </p>
            </div>
  				</div>
          <div class="tab-pane" id="4a">
			      <div class='a-well'>
              <h2><strong>Cephalopoda</strong></h2>
              </br>
              <p>Cephalopods lived from the Cambrian to the top of the Holocene.  They are one of the few groups that are highly diverse and ecologically important presently, but also possess an extensive fossil record.  Their diversity in the past makes them important index fossils.  Mollusks of the Cephalopoda class are agile, bilaterally symmetrical, predacious carnivores with a structural complexity without peer among unsegmented invertebrates.  The class is represented in the modern fauna by 650 species of octopuses, squids, cuttlefishes, argonauts and Nautilus, the only living form with an external shell. </p>
              </br>
              <h4><strong> Morphology overview </strong></h4>
              </br>
              <%= image_tag('cephalopoda-1.jpg', class: 'img-responsive center-block info-imgs')%>
	            <p class = 'text-center'> <i>Longitudinal sections showing the anatomy of Nautilus (top) and Sepia (bottom), representatives of the two major groups of the cephalopods. (Moore, R.  C., et al)</i></p>
              </br>              
              <p> The bodies of the cephalopods are generally elongate, with a distinct anterior head that bears large eyes and a mouth surrounded by a crown of mobile tentacles.  Behind the head is a saclike visceral mass containing other vital organs, whereas the hyponome and the branchial cavity are ventrally located.  The branchial cavity is enveloped  by the mantle that is undivided and encloses the remainder of the body.  In ten armed coleoids, lateral fins are developed and in Nautilus, the mantle is extended posteriorly as the siphuncular cord. </p>
              </br>
              <p> Their head is built around an internal cartilaginous skeleton that supports the central nervous system and balance organs as well as provides the hyponome and many of the principle muscles with a site for attachment.  At its anterior end is the mouth, rounded by several tentacles and equipped with a buccal mass including a parrot like beak with mandibles.  The eyes in various coleoids are well developed while the eyes of the Nautilus are primitive “pin-hole” like.  These eyes are borne laterally on their head.  In Nautilus, the eyes are open water-filled pits that haves a retina but lacks iris, cornea, lens or eyelid.  In other cephalopods, they are complex organs capable of forming an image similar in both structure and development to those of the vertebrates. </p>
              <br>
              <p> The dorsal surface of the head is protected by a thick hood in Nautilus which serves to close the aperture of the external shell.  This feature is absent in other living cephalopods which lack an external shell.  The foot of the ancestral mollusks is represented by the muscular hyponome; the tip of this structure is highly mobile and arises as a pair of flaps the margins of which overlap in Nautilus but are fused together in other cephalopods.  The elongate visceral mass is enveloped by the mantle, which is weakly muscular in Nautilus, but contains thick layers of circular and longitudinal muscle in other living forms.  Besides secreting a shell, the mantle has a forward projecting fold that forms the outer wall of a branchial cavity.  The gills are paired structures that occur in all living forms as a single pair, however, Nautilus has two pairs.  In addition, the Nautilus gills are attached only at the base while in other forms they are attached along the afferent side of the axis and the base. </p>
              </br>
              <p> Ctenidial filaments are alternately arranged on either side of a central axis. Lateral and secondary folding greatly increases the respiratory surface.    Nautilus possess an osphradium situated below the gills thast haves chemoreceptors for testing the water that enters the mantle cavity or detecting food.  Unlike Nautilus, the mantle of coleoids is supplied with chromatophores that contains black, pink, brown, blue or purple pigment.  This structure allows cephalopods so equipped to simulate the color of their surroundings.  The circulatory system of cephalopods is fundamentally molluscan with several special cases.  Their nervous system is complex forming a massive circumesophageal brain.  All cephalopods possess hard parts; although they are inconspicuous in many and only the shells are commonly preserved as fossils.  The univalved shell is external in Nautilus while for modern coleoids and their kin, the shell is overgrown by the muscular mantle and is largely internal. </p>
              <br>
              <h4><strong>Environment</strong></h4>
              <p>The fossil record indicates that they were most abundant in the Paleozoic and Mesozoic.  Furtheremore, invertebrates found along fossils cephalopods indicates that the class has always been exclusively marine in habitat and this applies to all living representatives.  Although some cephalopods are adapted to intermediate and abyssal depths, the majority are more common in the shallow marine environments of the continental shelves. </p>
            </div>
				  </div>
          <div class="tab-pane" id="5a">
			      <div class='a-well'>
              <h2><strong>Echinodermata</strong></h2>
              </br>
              <p>The echinoderms are one of the most important, most ancient and best characterized invertebrate phyla.  They are marine, benthonic (or pelagic) Metazoa that live attached in a certain position or free but are never colonial.  They have lived from the Lower Cambrian up to the present day and are divided into four main divisions; Homalozoa, Crinozoa, Asterozoa and Echinozoa.  These organisms may be defined as enterocoelic, nonsegmented coelomates that lack a differentiated head or brain are is bilaterally symmetrical.  This symmetry however is modified by the asymmetry introduced by the atrophy of some organs.  There are three characters that allows for their easy recognition; radial symmetry and imposed larval asymmetry; an endoskeleton formed of plates or ossicles composed of crystalline calcite that is deposited in a reticulate network microstructure with distinctive crystallographic properties; a water-vascular system of sacs and canals that opens outward in a pore giving rise to numerous small projections on the surface body.  They also lack a differentiated excretory apparatus.   Although there might be exceptions for the characters mentioned, this satisfies a general definition for the phylum as a whole. </p>
              </br>
              <h4><strong> Morphology overview</strong></h4>
              </br>
              <%= image_tag('echinoderm-1.jpg', class: 'img-responsive center-block info-imgs')%>
	            <p class = 'text-center'> <i>Radial structure sections of different echinoderm groups. A – Crinoid. B- Asteroid. C-Phiuroid. B- Holothuroid. E- Echinoid. (Moore, R.  C., et al)</i></p>
              </br>               
              <p>Echinoderms are animals of small to large size with very diverse body shapes.  Typically, the body of an echinoderm is divided into five rays, arms, grooves or zones that diverge radially from the mouth and rows of tentacles or podia that belong to the water-vascular apparatus.  The sectors of the body that bear the podia or tube feet are named ambulacra.  The mid-line of each ambulacrum is termed radius and corresponds to the plane passing through the oral-aboral axis of the body that divides the ambulacra into two equal parts.  Each ray bisected by this plane is termed perradial.  Similarly, the five sectors (interrays) comprised between the five ambulacra are termed interambulacra, where their mid-lines are designated as inter-radii.  Organs and structures between two adjacent radii are interradial. </p>
              </br>
              <p> The body wall of all echinoderms are comprised of three layers; an external epithelium, a thick median layer and an internal epithelium that lines the coelomic cavities.  The external epithelium is generally covered by a thin superficial cuticle that may be relatively thick and formed of long, narrow, threadlike cells among which neurosensory and glandular mucus cells are mixed.  On the other hand, the external epithelium may also be extremely thin without a definite cellular organization.  This external epithelium extends into the median layer.  The median layer consists of muscular, conjunctive non-calcified and calcareous tissues.  The skeleton of echinoderms are composed of two interlocked networks, one composed of mineral substance and the other of organic matter. </p>
              </br>
              <h4><strong>Environment</strong></h4>
              <p> Exclusively marine and usually stenohaline, echinoderms have not been found as primary fossils in fresh water deposits.  They are found in all seas, in all latitudes, on all types of sea bottoms and at all depths from the littoral zone to the oceanic abysses. </p>
            </div>
				  </div>
          <div class="tab-pane" id="6a">
			      <div class='a-well'>
              <h2><strong>Foraminifera</strong></h2>
              </br>
              <p> Foraminifera have existed since the Lower Cambrian and are still present today. Their importance as a fossil group lies in their possibility of being linear descendants of very ancient geological periods. </p>
              </br>
              <h4><strong>Morphology overview</strong></h4>
              <p>Foraminifers are unicellular or acellular organisms.  They have a protoplasmic body that is differentiated into an outer layer of clear ectoplasm and an inner, darker colored endoplasm.  In forms with a single aperture, the ectoplasm may be condensed into a stomostyle while in those with multiple apertures; the ectoplasm may be more dispersed and less evident.  The test is always a secretion of ectoplasm and pseudopodia whereas the endoplasm is restricted to chambers.   The peripheral zone lacks microsomes but is crowded with exogenous inclusions that consist of nutritive particles or debris of objects that have served as food.  The protoplasm that is external to the test in many planktonic forms is highly areolated, and contains numerous globules that aids in buoyancy.  In multilocular forms, a central area of dense plasma surrounds the nucleus and contains tiny refringent granules, numerous small vacuoles, pigments and fat globules.  In unilocular forms, the endoplasm is relatively homogenous. </p>
              </br>
              <p> Foraminifers have one or more nuclei which is typically spherical while some forms have a thick membrane.  Nuclei of higher forms are more plastic, especially in species with narrow foramina.  Plurinucleate forms are schizont, where many nuclei arise from an early multiplication of nuclei from the original zygote.  Foraminifers’ have a pseudopodia whose primary function is to capture prey, digest food and excrete debris.  It also constructs the test and creates temporary attachments to the substratum.  Commonly, the pseudopodia has a solid axis (stereoplasm) surrounded by rheoplasm.  Cysts are formed at many stages of life of most of the benthonic foraminifera.  Temporary cysts are formed for protection during secretion of new chambers but may also be formed by feeding process. The chambers are formed by the protective cyst that is sealed to the substratum and consists of a thin membrane and collected debris.  When the cyst is completed, the pseudopodia withdraws, the test and cyst are then separated opposite to the last chamber by a mass of cytoplasm which extends the width of the chamber.  A layer of calcite is produced as a result. </p>
              </br>
              <h4><strong>Environment</strong></h4>
              <p> Foraminiferida are aquatic, commonly marine protozoans although some of them occur in fresh or brackish water.  Most genera are benthonic, occurring from tide pools to all known depths.  Some are free living and move slowly over the bottom or along their algal supports.  Others occur on sandy or gravelly bottoms where their pseudopodia may anastomose the substratum and act as a binding agent.  Some attach themselves permanently or temporarily to various seaweeds, corals or other organisms such as mollusks.  The distribution of foraminiferal species is controlled by temperatures required for existence and reproduction.  There are species that tolerate temperatures from near freezing to 34°C.  In general, a greater variety occurs in warm, shallow waters, however, an approximately equal amount may be found in many different environments. </p>
            </div>
				  </div>				  
          <div class="tab-pane" id="7a">
			      <div class='a-well'>
              <h2><strong>Gastropoda</strong></h2>
              </br>
              <p>Like the the bivalves, gastropods typically have a hard, calcerous shell which results in them having an extensive fossil record. They have existed since the Lower Cambrian to the present day. However, they are commonest as the dominant members of the Mesozoic-Cenozoic evolutionary fauna. </p>
              </br>
              <h4><strong>Morphology overview</strong></h4>
              </br>
              <%= image_tag('gastropoda-parts-1.jpg', class: 'img-responsive center-block info-imgs')%>
	            <p class = 'text-center'> <i>Illustration showing the protruded parts of a gastropod. (Moore, R.  C., et al)</i></p>
              </br>
              <%= image_tag('gastropoda-parts-2.jpg', class: 'img-responsive center-block info-imgs')%>
	            <p class = 'text-center'> <i>Shell-hard parts of a gastropod. (Moore, R.  C., et al) </i></p>
              </br>              
              <p>Gastropods with coiled shells has parts of their visceral mass remain permanently within their shell while the rest of it is protruded when the creature is active but can be withdrawn when deemed necessary.  The main and often only protusible part consists of a slughlike mass (cephalopedal mass) formed by the head and foot.  Two tubelike organs can also be protruded from the shell, these are the inhalant siphon and the male genital organ.  In some gastropods, the mantle may extend beyond the surface of the shell and extensions of the foot may also partly cover the shell. </p>
              </br>
              <p> Typically, the foot is a broad muscular structure with glands and a flat base applied to the surface over which the mollusk creeps, although it has been greatly modified in some genera.  In some gastropods, the anterior (propodium) and posterior (metapodium) parts of the foot are separated by transverse groove of which the median region is termed mesopodium.  The head-foot mass is drawn into the shell by the retractor muscles, the only attachment of soft parts to the shell.  The muscle is commonly attached to the columella, some distance from the aperture and passes through the foot to an area of insertion.  The head of the gastropods bears at least one pair of cephalic tentacles which form hornlike projections.  Most gastropods have two eyes which are situated at the head or some distance up the base of the tentacles.</p>
              </br>
              <h4><strong> Environment</strong></h4>
              </br>
              <p> Gastropods have wide environmental tolerances and are the only molluscan group to have occupied both aquatic (freshwater and marine) and terrestrial habitats.  Although they are the commonest in fully oxygenated water, certain species can be found at lower levels.  They also have tolerance to a wide range of temperature, salinity, depth and turbulence. </p>
            </div>
          </div>  
          <div class="tab-pane" id="8a">
			      <div class='a-well'>
              <h2><strong>Trilobita</strong></h2>
              </br>
              <p>Trilobites are an extinct Arthropoda that lived from Lower Cambrian up to the Permian. They were exclusively marine animals that occupied different oceanic environments ranging from shallow flats to deep ocean bottoms thanks to their rapid rate of adaptation.</p>
              </br>
              <h4><strong> Morphology overview</strong></h4>
              </br>
              <%= image_tag('trilobite-1.jpg', class: 'img-responsive center-block info-imgs')%>
	            <p class = 'text-center'> <i>The cephalic region of a trilobite. (Moore, R.  C., et al)</i></p>
              </br>
              <%= image_tag('trilobite-2.jpg', class: 'img-responsive center-block info-imgs')%>
	            <p class = 'text-center'> <i>Parts of the Trilobite’s exoskeleton. (Moore, R.  C., et al) </i></p>
              </br>               
              <p> These organisms are distinguished by an exoskeleton that is trilobed longitudinally and differentiated transversely into anterior, middle and posterior areas.  The tergite of the anterior and posterior areas is fused into rigid plates while those of the middle area remain movable with respect to each other, generally articulating freely.  Compound eyes are generally present on the dorsal side of the head. Ventral appendages consists of multijointed uniramous antennae and behind these are a variable number of differentiated paired appendages, four of which are cephalic.  Trilobites are typically ovoid to subelliptical in outline, the exoskeleton is usually moderately convex but it can be almost flat, arched or globose in other species.</p>
              </br>
              <p>A mineralized integument and soft chitinous parts compose the exoskeleton of trilobites.  The mineralized part covers the dorsal side of the body and parts of its ventral side whereas the chitinous parts cover the ventral appendages.  The rest of the body was covered by a soft membrane.  The dorsal exoskeleton consists of separate or fused areas of mineralized integument (sclerites) that covers a body segment (tergite).  The anterior tergites and their extensions fuse into a single rigid tagma called cephalon while the posterior tergites are fused into a plate called pygidium.  The part of the carapace between the cephalon and pygidium is the thorax, which is formed by movable individual tergites. </p>
              </br>
              <p> Ventral sclerites consisting of sternites are restricted to the cephalic region.  Trilobites have a maximum of 3 sternites; the rostral plate, the hypostoma and the metastoma.  The cephalon is the rigid plate of the fused anterior tergites of the trilobite’s exoskeleton.  The glabella is the area along the axis of the cephalon being bounded by axial furrows. These usually converge forward and grades into a preglabellar furrow bounding the anterior extremity of the glabella. Posteriorly, the glabella is bounded by the occipital furrow that separates it from the occipital ring.  The sizes and shapes of the glabella are highly varied and commonly diagnostic characteristics for different genera.  The lateral glabellar lobes are paired side portions of the glabella between lateral  glabellar lobes.  The frontal glabellar is the portion of the glabella between the preglabellar furrow and the anterior lateral furrows.</p>
              </br>
              <p> In the rear part of the cephalic axis, a distinct area called the occipital ring separated from the posterior extremety of the glabella is found in most trilobites.</p>
              </br>
              <h4><strong> Environment</strong></h4>
              <p> Trilobites lived in a diverse range of shallow marine environments and as such, are commonest in shallow marine facies (limestone,shales and sandstones) with a greater range of diversity in facies consistent with normal marine salinity.  Temperature ranges are difficult to assess for trilobites, but their widespread distribution suggests that this may not be a limiting environmental factor.  Trilobites are commonest in sediments formed under well-oxygenated conditions and were likely limited to fully marine levels of salinity.</p>
            </div>
          </div>  				  
				  <div class='tab-pane' id='9a'>
				    <div class='a-well'>
				      <h2><strong> References</strong></h2>
				      </br>
				      <p> Doyle, P. 1996., Understanding fossils: An introduction to invertebrate paleontology, 1st ed, 426. New York: Wiley.</p>
				      <p> Edwards, C.L., 1908, Biometry as a Method in Taxonomy: The American Naturalist, v. 42, p. 537-540. </p>
				      <p> Mercado, S.H., Paleontology lectures & presentations. </p>
				      <p> Moore, R.  C., et al., Treatise on Invertebrate Paleontology, Volumes A through W. Boulder, Colorado: Geological Society of America; and Lawrence, Kansas: University of Kansas Press.</p>
				    </div>
				  </div>
				  
				  
				  
				  
				  
				  
        </div> <!-- tab content end -->
      </div> <!-- info-sidenav-->  
      
    </div>
  </div>
</div>
      