<!DOCTYPE html>
<html>
  <head>
    <title>Marine Species Fossil Database</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=yes">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'  %>
    <link href="https://fonts.googleapis.com/css?family=Inknut+Antiqua|Roboto" rel="stylesheet">  
    <%= csrf_meta_tags %>    
  </head>

  <body>

  <div id="wrapper" class="active">  
    
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul id="sidebar_menu" class="sidebar-nav">
         <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
      </ul>
      
      <ul class="sidebar-nav " id="sidebar">
  
        <li>
          <%= link_to root_path do %>
            Home
          <% end %> 
        </li>
        
        <li>
          <%= link_to general_information_path do %>
          <div class= 'multi-line-a'>
            <p>General</p> <p>Information</p>
          </div>  
          <% end %> 
        </li>
        
        <li>
          <%= link_to taxonomy_overview_path do %>
          <div class= 'multi-line-a'>
            <p>Taxonomy</p> <p>Overview</p>
          </div>  
          <% end %> 
        </li>        
        
        <li>
          <%= link_to directory_index_path do %>
            Main Directory
          <% end %> 
        </li> 
        
        <li>
          <%= link_to species_index_path do %>
            All Species
          <% end %> 
        </li>       
        
        <li>
          <%= link_to about_path do %>
            About
          <% end %> 
        </li>       
         
      </ul> <!-- sidebar-nav -->
    </div> <!-- sidebar wrapper -->
        
    <!-- Page content -->
    <div id="page-content-wrapper">
      <!-- Keep all page content within the page-content inset div! -->
      <div class="page-content inset">
        
        <div class= "container">
          <div class = "row">
            <div class='col-md-6'>
              <ol class="breadcrumb">
                <%= render_breadcrumbs :tag => :li, :separator => "" %>
                <%= notice %>
                <%= alert %>
              </ol>
            </div>
          </div> <!-- row -->
        </div> <!-- container--> 
        
      <%= yield %>
 
      </div>  <!--page inset -->
    </div> <!-- page-content-wrapper-->
    
  </div> <!-- wrapper close -->

  </body>

</html>
